<%- include("templates/header") %>
<h1>Hello <%= name %></h1>
<button onclick="location.href='/members'">Go to Members Area</button>
<br>
<button onclick="location.href='/logout'">Sign out</button>
<%- include("templates/footer") %>