<%- include("templates/header") %>
<h2>Log in</h2>
    <form action='/loggingin' method='post'>
    <input name='email' type='email' placeholder='email'>
    <br>
    <input name='password' type='password' placeholder='password'>
    <button>Submit</button>
    </form>
<%- include("templates/footer") %>